<!-- wp:paragraph -->
<p>下記は、今すぐ誰でも使えるJTBの割引情報と配布中クーポンを一覧にしました。</p>
<!-- /wp:paragraph -->

{% if first_time %}
{% set text = "初回限定" %}
{% set id = "first-time" %}
{% set section = first_time %}
{% include "jtb/first_time_section.html.j2" %}

{% endif %}
{% set text = "国内旅行" %}
{% set id = "" %}
{% include "jtb/blocks/h3.html.j2" %}

{% if sections.zenkoku %}

{% set text = "全国共通クーポン" %}
{% set id = "" %}
{% include "jtb/blocks/balloon.html.j2" %}

{% set coupons = sections.zenkoku %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_domestic.html.j2" %}

{% set height = "50px" %}
{% include "jtb/blocks/spacer.html.j2" %}

{% endif %}
{% if sections.hotel %}

{% set text = "チェーンホテル限定クーポン" %}
{% set id = "" %}
{% include "jtb/blocks/balloon.html.j2" %}

{% set coupons = sections.hotel %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_domestic.html.j2" %}

{% endif %}
{% for area in area_sections %}
{% if area.coupons %}

{% set text = area.label %}
{% set id = area.id %}
{% include "jtb/blocks/balloon.html.j2" %}

{% set coupons = area.coupons %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_domestic.html.j2" %}

{% endif %}
{% endfor %}