{% include "jtb/blocks/h3.html.j2" %}

{% set coupons = section.coupons %}
{% include "jtb/blocks/ordered_list.html.j2" %}

<!-- wp:loos/accordion {"className":"is-style-default"} -->
<div class="swell-block-accordion is-style-default"><!-- wp:loos/accordion-item -->
<details class="swell-block-accordion__item" data-swl-acc="wrapper"><summary class="swell-block-accordion__title" data-swl-acc="header"><span class="swell-block-accordion__label"><strong>注意：初回割引クーポンコードを使う条件</strong></span><span class="swell-block-accordion__icon c-switchIconBtn" data-swl-acc="icon" aria-hidden="true" data-opened="false"><i class="__icon--closed icon-caret-down"></i><i class="__icon--opened icon-caret-up"></i></span></summary><div class="swell-block-accordion__body" data-swl-acc="body"><!-- wp:group {"className":"is-style-bg_stripe","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bg_stripe"><!-- wp:list {"ordered":true} -->
<ol class="wp-block-list"><!-- wp:list-item -->
<li><strong>対象者:</strong><!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li><strong>JTBトラベルメンバーに新規会員登録</strong>した方限定です。</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>JTBのウェブサイトでの<strong>初回予約</strong>にのみ利用できます。</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>利用条件:</strong><!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>JTBの<strong>ウェブサイトからの予約限定</strong>です。店舗や電話での予約には使えません。</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>対象となるプランは「JTB宿泊プラン」「るるぶトラベルプラン」「JR＋宿泊プラン」「飛行機＋宿泊プラン」など幅広く利用可能です。</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>お一人様1回限りの利用となります。</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>併用は合計10枚まで。（適応外とのクーポンとの場合は併用できない。）</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>国内の宿泊とツアーのみでしか使えない。（海外は利用不可）</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>他のキャンペーンとの併用がお得:</strong><!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item -->
<li>JTBでは、初回クーポンと併用できる「初めての旅行＆エントリーでポイントキャンペーン」などを実施している場合があります。エントリーするだけでポイントがもらえるため、さらにお得になります。</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p><span class="swl-fz u-fz-xs">※海外の初回限定の割引クーポンコードはありません。→<a href="#kaigai">海外JTB割引クーポンコード一覧</a></span></p>
<!-- /wp:paragraph -->

{% set url_json = first_time_btn.url_json %}
{% set url_html = first_time_btn.url_html %}
{% set label = "【初回限定】 JTBクーポン ページ→" %}
{% include "jtb/blocks/button_normal.html.j2" %}</div>
<!-- /wp:group --></div></details>
<!-- /wp:loos/accordion-item --></div>
<!-- /wp:loos/accordion -->