<!-- wp:paragraph -->
<p id="kaigai">下記は、今すぐ誰でも使えるJTBの海外旅行向け割引クーポンを一覧にしました。</p>
<!-- /wp:paragraph -->

{% set text = "海外ツアー（ルックJTB MySTYLE）" %}
{% set id = "" %}
{% include "jtb/blocks/h3.html.j2" %}

{% if sections.tour %}

{% set coupons = sections.tour %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_overseas.html.j2" %}

{% endif %}
{% set text = "海外航空券＋ホテル" %}
{% set id = "" %}
{% include "jtb/blocks/h3.html.j2" %}

{% if sections.air_hotel %}

{% set coupons = sections.air_hotel %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_overseas.html.j2" %}

{% endif %}
{% set text = "海外航空券" %}
{% set id = "" %}
{% include "jtb/blocks/h3.html.j2" %}

{% if sections.air %}

{% set coupons = sections.air %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_overseas.html.j2" %}

{% endif %}
{% if sections.optional %}

{% set text = "海外オプショナルツアー" %}
{% set id = "" %}
{% include "jtb/blocks/h3.html.j2" %}

{% set coupons = sections.optional %}
{% include "jtb/blocks/ordered_list.html.j2" %}

{% include "jtb/blocks/cta_overseas.html.j2" %}

{% endif %}