<!-- wp:loos/button {"hrefUrl":"{{ url_json }}","isNewTab":true,"color":"blue","btnSize":"l","className":"is-style-btn_normal"} -->
<div class="swell-block-button blue_ -size-l is-style-btn_normal"><a href="{{ url_html }}" target="_blank" rel="noopener noreferrer" class="swell-block-button__link"><span>{{ label }}</span></a></div>
<!-- /wp:loos/button -->