<!-- wp:paragraph {"align":"center","className":"u-mb-ctrl u-mb-0"} -->
<p class="has-text-align-center u-mb-ctrl u-mb-0"><strong><span class="swl-fz u-fz-s">＼JTBクーポンをまとめて見るなら／</span></strong></p>
<!-- /wp:paragraph -->

<!-- wp:loos/button {"hrefUrl":"{{ domestic_cta.url_json }}","color":"blue","className":"is-style-btn_shiny u-mb-ctrl u-mb-0"} -->
<div class="swell-block-button -html blue_ is-style-btn_shiny u-mb-ctrl u-mb-0"><a href="{{ domestic_cta.url_html }}" rel="nofollow">{{ domestic_cta.pixel }}JTB国内クーポンの一覧はこちら</a></div>
<!-- /wp:loos/button -->

<!-- wp:paragraph {"align":"center","className":"u-mb-ctrl u-mb-30"} -->
<p class="has-text-align-center u-mb-ctrl u-mb-30"><strong>★期間・枚数限定★</strong></p>
<!-- /wp:paragraph -->