<!-- wp:list {"ordered":true,"className":"-list-under-dashed"} -->
<ol class="wp-block-list -list-under-dashed">
{% for c in coupons %}
{% include "jtb/blocks/coupon_item.html.j2" %}
{% endfor %}</ol>
<!-- /wp:list -->