<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:loos/post-link {"linkData":{"title":"JTB 割引クーポン新幹線・JR日帰りはある？お得な方法をご案内！","id":50839,"url":"https://yakushima.fun/jtb-bullet-train/","kind":"post-type","type":"post"},"icon":"link"} /--></div>
<!-- /wp:group -->